  // Carousel configuration parameters
  $item-width: 60%; // Now we can use percentages!
  $item-separation: 0px; // This now is set with Js
  $viewer-distance: 1000px;
  
  .carousel {
    padding: 20px;
    height: 100%;
  
    perspective: $viewer-distance;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      flex: 0 0 auto;
    }
  
    figure {
      margin: 0;
  
      width: $item-width;
      transform-style: preserve-3d;
      transition: transform 0.5s;
  
      img {
        width: 100%;
        box-sizing: border-box;
        padding: 0 $item-separation / 2;
        border: 1px dashed black;
  
        &:not(:first-of-type) {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  
    nav {
      display: flex;
      position: absolute;
      top: 20%;
      height: 50%;
      z-index: 10;
      width: 100%;

      justify-content: space-between;
      margin: 20px 0 0;
  
      button {
        flex: 0 0 auto;
        margin: 0 10px;
  
        cursor: pointer;
  
        color: #333;
        background: white;
        border: 1px dashed red;
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding: 5px 10px;
      }

      button:hover {
        transform: scale(1.05);
      }
    }
  }
  